@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes appear {
	from {
		transform: translateY(90%) rotate(-30deg);
		opacity: 0;
	}
	to {
		transform: translateY(0) rotate(0);
		opacity: 1;
	}
}
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
