.bikes {
	background-image: var(--background-garadient);
	padding-bottom: 40px;
}
.bikes__description {
	padding-bottom: 30px;
}
.bikes__description-text {
	font-size: 16px;
	margin: 20px;
}
.bikes__description-text .bi {
	font-size: 26px;
	color: var(--secondary-color);
	padding-right: 10px;
}
.bikes__description-text span {
	color: var(--secondary-color);
	
}
.swiper {
	width: 100%;
	max-height: 600px;
	max-width: 400px;
	border-radius: 7px;
	box-shadow: 2px 2px 3px var(--secondary-color);
}
.swiper-button {
	color: var(--main-color);
	cursor: pointer;
}

@media (min-width: 768px) {
	.bikes__description-text {
		font-size: 20px;
	}
	.bikes__box {
		max-width: 1100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
	.swiper {
		margin: 40px;
	}
}
