.hero-img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	text-align: center;
	background-image: var(--background-garadient-secondary), url('../img/bg/bg-forest-3_1280-min.webp');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
.rallax-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -100;
}
.tt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hero-img__text,
.hero-img__title {
	margin: 10px;
	color: var(--pure-white-color);
	letter-spacing: 2px;
}
.hero-img__title {
	font-size: 50px;
}
.hero-img__text {
	padding: 16px 0;
	font-size: 20px;
}
.hero-img hr {
	margin: 0 auto;
	width: 70%;
}

@media (min-width: 768px) {
	.hero-img__text {
		font-size: 35px;
	}
}
@media (min-width: 992px) {
	.hero-img__title {
		font-size: 100px;
	}
}
